.button-moreinfo{
    background-color:#56A8FF;
    border:#56A8FF;
}

.hrd-item {
    background-color: transparent; 
    border-color: transparent;
  }

  [data-toggle="collapse"] i:before{
    content: "\f106";
}

[data-toggle="collapse"].collapsed i:before{
    content: "\f107";
}
